n8n/TheAIAutomators.com - Sample DeepEval Agent Test.json
{
  "name": "TheAIAutomators.com - Sample DeepEval Agent Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        1008
      ],
      "id": "1072c56f-5998-43a0-8c42-78c6593c0836",
      "name": "When chat message received",
      "webhookId": "e34490a9-27ec-46fa-88aa-b53f81256fb8"
    },
    {
      "parameters": {
        "options": {
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -528,
        896
      ],
      "id": "26e458fa-fb87-4c3b-8d40-404ca77b19b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        1216
      ],
      "id": "a37f32fa-b72d-4104-9cd6-67d500c5c285",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hNalDChhNUDtYG7T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efe505b7-ea8f-484b-848f-e34145087777",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random()*9999999999999) }}",
              "type": "string"
            },
            {
              "id": "4a63b2af-1410-4510-83b5-d8ecc7648eec",
              "name": "chatInput",
              "value": "=Whats the Capital of Germany?",
              "type": "string"
            },
            {
              "id": "7670c68d-9a00-4535-b0ba-8aeb55ffd9bb",
              "name": "action",
              "value": "sendMessage",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        800
      ],
      "id": "476f1746-1f46-4d12-b9a9-f35ac03d58e0",
      "name": "Setup Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        1024
      ],
      "id": "17a54d1a-d747-45ee-84c3-f45428611657",
      "name": "Return Result"
    },
    {
      "parameters": {
        "content": "## Evals Trigger \n",
        "height": 256,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        704
      ],
      "id": "8b0489df-0a5b-49c8-baf3-67bb6f397644",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Execute DeepEvals\n### TODO: Update URL\n",
        "height": 288,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        688
      ],
      "id": "8e72ef34-ed3d-45cc-9af5-d0141d1ff7c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e122bc19-64bf-4cb9-acf9-0df0b8eec2e4",
              "leftValue": "={{ $('When clicking ‘Execute workflow’').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        896
      ],
      "id": "9b93de1d-2f27-4b94-a009-b572dca91cba",
      "name": "Evaluating?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://deepeval-wrapper.onrender.com/evaluate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n       \"test_case\": {\n         \"input\": \"{{ $('Setup Data').item.json.chatInput }}\",\n         \"actual_output\": \"{{ $json.output }}\"\n       },\n       \"metrics\": [\n         {\n           \"metric_type\": \"answer_relevancy\",\n           \"threshold\": 0.7\n         }\n       ]\n     }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        800
      ],
      "id": "98bf3c45-5efb-4f72-b2a6-3f22cae8e089",
      "name": "DeepEval Calls",
      "credentials": {
        "httpBearerAuth": {
          "id": "UPucdwwFWCNWOXz0",
          "name": "Infranodus"
        },
        "httpHeaderAuth": {
          "id": "0jRltnlFRjBCI6qn",
          "name": "DeepEval Render"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        800
      ],
      "id": "c3e6860b-f9fe-4e9c-8b8b-584d451ff296",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -464,
        1232
      ],
      "id": "2c618298-a44b-4741-968e-3cc5cdad3269",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluating?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setup Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluating?": {
      "main": [
        [
          {
            "node": "DeepEval Calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepEval Calls": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Setup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f654f2f-67c9-4300-83bb-d9bd1edaf973",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "3ygOySljuGhd3QFm",
  "tags": []
}